#Porta de acesso do servidor
PORT=porta_do_seu_servidor

#Banco de dados
DB_HOST=sua_host
DB_PORT=sua_db_port
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=estoques

#Chave secreta Hasheada 
SECRET_KEY=sua_chave_secreta